<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
  
  <targets>
    <!-- Log file -->
    <target name="logfile" xsi:type="File" 
            fileName="${basedir}/Logs/automation.log"
            createDirs="true" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    
    <!-- Console output -->
    <target name="logconsole" xsi:type="Console" 
            layout="${longdate}|${level:uppercase=true}|${message}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
  </rules>
</nlog>